@using MiniGitHub.Web.Extensions
@model MiniGitHub.Web.Models.AddCommitDTO

@{
    ViewBag.Title = "Add Commit";
    Layout = "_Layout";
}

<h2>Add Commit</h2>

@using (Html.BeginForm(
    "Add", 
    "Commit", 
    FormMethod.Post,
    new { enctype = "multipart/form-data" }
)) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.RepositoryId)
    
    <div class="mb-3">
        <label asp-for="Message" class="form-label"></label>
        <textarea asp-for="Message" class="form-control"></textarea>
        <span asp-validation-for="Message" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Files" class="form-label"></label>
        <input asp-for="Files" type="file" multiple class="form-control"/>
        <span asp-validation-for="Files" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
}
