@model CommitListVM

@{
    ViewBag.Title = $"Commit List - {Model.Repo.Name}";
    Layout = "_Layout";
}

<h2>Commit List - @Model.Repo.Name</h2>

<ul>
    @foreach (var commit in Model.Commits)
    {
        <li>@commit.Message</li>
    }
</ul>
