@using MiniGitHub.Domain.Entities
@{
    Layout = null;
    User user = (User)ViewData["User"];
}

<h1>@user.Username</h1>

<h3>Repositories</h3>

@foreach (Repository repo in user.Repositories) {
    <li>
        <p>@repo.Name</p> 
        <p>@repo.Description</p>
    </li>
}