@using MiniGitHub.Domain.Entities
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Users</h2>

<a asp-action="Add">Add</a>

<ul>
@foreach (User user in (List<User>)ViewData["Users"]) {
    <li>
        <div>
            <p>UserID: @user.UserId</p>
            <p>Email: @user.Email</p>
            <p>Username: @user.Username</p>
            <a asp-action="Detail" asp-route-id="@user.UserId">Detail</a>
        </div>
    </li>
}
</ul>
