@model MiniGitHub.Domain.Entities.User

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>User Profile</h2>

<div>
    <label>Username:</label>
    <p>@Model.Username</p>
</div>

<div>
    <label>Email:</label>
    <p>@Model.Email</p>
</div>
